.attack-readout {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-end;
  width: 200px;
  height: 150px;
  line-height: 18.5px;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 1rem auto;
  border: 2px solid #00ff00;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: monospace;
  font-size: 0.65rem;
  scrollbar-width: none;
}

.readout-message {
  padding: 0.1rem 0;
  margin: 0;
  animation: slideIn 0.3s ease-out;
}

.readout-message.hit {
  color: #ffaa00;
}

.readout-message.miss {
  color: #00ff00;
}

.readout-message.old {
  opacity: 0.6;
  transition:
    filter 200ms ease,
    opacity 200ms ease;
  filter: grayscale(1);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.attack-readout::-webkit-scrollbar {
  width: 6px;
}

.attack-readout::-webkit-scrollbar-track {
  border-radius: 4px;
  background: rgba(100, 108, 255, 0.1);
}

.attack-readout::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #646cff;
}

.attack-readout::-webkit-scrollbar-thumb:hover {
  background: #747bff;
}
