:root {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color-scheme: light dark;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  place-items: center;
}

h1 {
  line-height: 1.1;
  font-size: 3.2em;
}

button {
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sr-only {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  border: 0 !important;
  white-space: nowrap !important;
  clip: rect(0, 0, 0, 0) !important;
}
